{
  email {$ACME_EMAIL}
}

{$PUBLIC_HOSTNAME} {
  @health {
    path /health
    method GET
  }
  @alexa {
    path /alexa
    method POST
  }
  handle @health {
    reverse_proxy 127.0.0.1:3000
  }
  handle @alexa {
    reverse_proxy 127.0.0.1:3000
  }
  respond 404
}
